{
  "extends": ["airbnb-base", "prettier"],

  "env": {
    "browser": true,
    "es6": true,
    "jest": true,
    "node": true
  },

  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module"
  },

  "rules": {
    "import/prefer-default-export": 0
  },

  "parser": "babel-eslint"
}